<div>
    <ul class="tabs">
        <li class="item import-tab" data-tab="import">Basic</li>
        <li class="item import-tab" data-tab="advanced">Advanced</li>
    </ul>
    <div class="tab" data-tab="import">
        <p>Instrutions to import NPCs from Roll20.</p>
        <ol>
            <li>Have the browser plugin <a href="https://ssstormy.github.io/roll20-enhancement-suite/">VTT Enhancement Suit</a></li>
            <li>Open the Roll20 game containing the NPC and open the sheet</li>
            <li>Use the export function in the "Export and Overwrite" tab</li>
            <li>Import the .json file</li>
        </ol>
        <!--<p><textarea class="npc-data form-control" cols="30" rows="5" autofocus placeholder="Paste your NPC data here"></textarea></p>-->
    </div>
    <div class="tab" data-tab="advanced">
        <h3 class="form-header">Options</h3>
        <p class="notes">Configure Prefixes and default HP.</p>
        <div class="form-group">
            <label>Legendary Action Prefix</label>
            <input type="text" name="legendaryPrefix" placeholder="LA - " value="{{legendaryPrefix}}" data-dtype="String" />
        </div>
        <div class="form-group">
            <label>Reaction Prefix</label>
            <input type="text" name="reactionPrefix" placeholder="RE - " value="{{reactionPrefix}}" data-dtype="String" />
        </div>
        <div class="form-group">
            <label>Default HP</label>
            <input type="text" name="defaultHealth" placeholder="10" value="{{defaultHealth}}" data-dtype="Number" />
        </div>
        <div class="form-group">
            <label>Default Source</label>
            <input type="text" name="defaultSource" placeholder="10" value="{{defaultSource}}" data-dtype="Number" />
        </div>
        <div class="form-group">
            <label>Use TokenImage as Avatar</label>
            <input type="checkbox" name="useTokenAsAvatar" value="{{useTokenAsAvatar}}" />
        </div>
        <hr>
        <h3 class="form-header">Default Token Config</h3>
        <p class="notes">Configure the Token settings in case none can be found.</p>
        <div class="form-group">
            <label>Ignore Token Lighting:</label>
            <input type="checkbox" class="bar-attribute" name="ignoreTokenLight" value="{{ignoreTokenLight}}" />
        </div>
        <div class="form-group">
            <label>Show Nameplate:</label>
            <select class="bar-attribute" name="showNameMode" datad-type="Number">
                {{#select defaultNameDisplay}}
                {{#each displayModes}}
                <option value="{{value}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-group">
            <label>Display Bars:</label>
            <select class="bar-attribute" name="showBarMode" data-dtype="Number">
                {{#select defaultBarDisplay}}
                {{#each displayModes}}
                <option value="{{value}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-group">
            <label>Bar 1 Attribute:</label>
            <select class="bar-attribute" name="tokenBar1Link">
                <option value="0">None</option>
                <option value="attributes.hp" selected="selected">HP</option>
            </select>
        </div>
        <div class="form-group">
            <label>Bar 2 Attribute:</label>
            <select class="bar-attribute" name="tokenBar2Link">
                <option value="">None</option>
                <option value="attributes.hp">HP</option>
            </select>
        </div>
        <hr>
        <h3 class="form-header">Compendium Integration</h3>
        <p class="notes">Modes for saving to Actor Compendium and pulling Spells from Item Compendium</p>
        <div class="form-group">
            <label>Target mode:</label>
            <select class="bar-attribute" name="targetMode">
                <option value="actor" selected>Actor</option>
                <option value="compendium">Compendium</option>
            </select>
        </div>
        <div class="form-group">
            <label>Target Compendium</label>
            <!--<input type="text" name="compendiumname" placeholder="CompendiumName" value="" data-dtype="String" />-->
            <select class="bar-attribute" name="compendiumName" data-dtype="String">
                {{#each actorCompendie}}
                <option value="{{value}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label>Spell Compendium</label>
            <!--<input type="text" name="compendiumname" placeholder="CompendiumName" value="" data-dtype="String" />-->
            <select class="bar-attribute" name="spellCompendiumName" data-dtype="String">
                {{#each spellCompendie}}
                <option value="{{value}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group">
        <input type="file" name="fileUploads" accept=".json" multiple />
    </div>
    <button class="startImport btn" value="Import" >
        <i class='fas fa-check'></i> Import
    </button>
</div>